@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AZT Youtube Channel</h1>
    <p>Redirected loaction <a href="https://docs.microsoft.com/aspnet/core">This is North Europe webapp</a>.</p>
</div>
